@import "../colour-palette.scss";

.kydney-row-container {
    margin-top: 30px;
    border-radius: 15px;
    background-color: $blue-gray;

    h1 {
        text-align: center;
        color: $purple;
    }

    .auxita-table.table-dark.table-hover tbody tr:hover {
        background-color: $whine;
    }

    input[type="button"].auxita-button {
        position: absolute;
        right: .5%;
        top: 13px;
    }
}
