@import "../../colour-palette.scss";

.hypertension-row-container {
    margin-top: 15px;
    border-radius: 15px;
    background-color: $blue-gray;
    border: 5px solid $light-purple;

    h1 {
        text-align: center;
        color: $purple;
    }

    .auxita-table.table-dark.table-hover tbody tr:hover {
        background-color: $whine;
    }

    input[type="button"].auxita-button {
        position: absolute;
        right: .5%;
        top: 13px;
    }
}
